body {
  margin: 0;
  font-family: "Muli", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  background: #21C08B;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.header__img {
  width: 200px;
  margin-left: 30px;
}

.login {
  background: linear-gradient(#21C08B, #824efc);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  min-height: calc(100vh - 200px);
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  color: #FFFFFF;
  padding: 60px 68px 40px;
  min-height: 600px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login__container--remember a {
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none;
}

.login__container--remember a:hover {
  text-decoration: underline;
}

.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}

.login__container--register {
  font-size: 14px;
}

.login__container--register a {
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 20px;
  outline: none;
}

::placeholder {
  color: #FFFFFF;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0;
}

.footer {
  background-color: #824efc;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}

.footer a {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }

  .footer a {
    margin: 5px;
  }
}

/*# sourceMappingURL=login_styles.css.map */
