/* --- INI Header Styles ---*/
body {
    margin: 0;
    background-color: #8F57FD;
    font-family: 'Muli', sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu--profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 40px;
    height: 40px;
}

.header__menu--profile p {
    margin: 0;
    color: #fff;
}

.header__menu ul {
    display: none;
    padding: 0;
    margin: 0 0 0 35px;
    list-style: none;
    position: absolute;
    text-align: right;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0;
}

.header__menu li a {
    color: #fff;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

/* --- END Header Styles ---*/

/* --- INI Main Styles ---*/
.main {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    border-radius: 0 0 40px 40px;
}

.main__title {
    color: #fff;
    font-size: 25px;
}

.input {
    border: 2px solid #fff;
    border-radius: 25px;
    color: #fff;
    width: 80%;
    height: 50px;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    outline: none;
    height: 50px;
}

::placeholder {
    color: #fff;
}

/* --- END Main Styles ---*/

/* --- INI Carousel Styles ---*/

.categories__title {
    color: #FFFFFF;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}

.carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}

.carousel__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70px 0;
    padding-bottom: 10px;
}

.carousel::-webkit-scrollbar {
    width: 2px;
}
.carousel::-webkit-scrollbar-thumb{
    background-color: #34274d;
    border-radius: 5px;
}

.carousel-item {
    background-color: thistle;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.carousel-item:hover ~ .carousel-item {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    -o-object-fit: cover;
}

.carousel-item__details {
    align-items: flex-start;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%,  rgba(0, 0, 0, 0) 100%);
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
}

.carousel-item__details--img {
    width: 20px;
}

.carousel-item:hover .carousel-item__details {
    opacity: 1;
}

.carousel-item__details--title {
    color: white;
    margin: 5px 0px 0px 0px;
}

.carousel-item__details--subtitle {
    color: white;
    font-size: 8px;
    margin: 3px 0px;
}

/* --- END Carousel Styles ---*/

/* --- INI Footer Styles */

.footer {
    align-items: center;
    background-color: #8f57fd;
    display: flex;
    height: 100px;
    width: 100%;
}
  
.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
  
.footer a:hover {
    text-decoration: underline;
}

/* --- END Footer Styles */


@media only screen and (max-width: 600px) {
    .main__description--title {
        font-size: 30px;
    }
  
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}