body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.header {
    align-items: center;
    background: #21C08B;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.header__img {
    width: 200px;
    margin-left: 30px;
}

.register {
    background: linear-gradient(#21C08B, #824efc);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 200px);
}

.register__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
    padding: 60px 68px 40px;
    min-height: 540px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.register__container--form {
    display: flex;
    flex-direction: column;
}

.register__container--label {
    display: flex;
    justify-content: center;
}

.register__container--label label {
    font-size: 16px;
}

.register__container--login {
    display: flex;
    justify-content: center;
}

.register__container--login a {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

.register__container--login a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #FFFFFF;
    outline: none;
    color: #FFFFFF;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px;
}

::placeholder {
    color: #FFFFFF;
}

.submit {
    border: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 17px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    height: 50px;
    margin: 10px 0;
}

.footer {
    background-color: #824efc;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer a {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 30px;
}

.footer a:hover {
    text-decoration: underline;
}